@font-face {
  font-family: "Raleway-800";
  src: url("../assets/fonts/Raleway-Black.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway-700";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway-600";
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway-400";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-700";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins-400";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-300";
  src: url("../assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-200";
  src: url("../assets/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}
.h-100vh {
  height: 100dvh;
}

body {
  background-color: #f5f5f5;
}

@media (min-width: 767px) {
  .top-btn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #0046af;
    border-radius: 50%;
    z-index: 99;
  }
  .top-btn i {
    color: white;
  }
}
@keyframes rigthToLeft {
  0% {
    content: "Developer";
    width: 230px;
  }
  10% {
    content: "Developer";
    width: 230px;
  }
  20% {
    width: 0;
  }
  35% {
    width: 0;
  }
  45% {
    content: "Freelancer";
    width: 230px;
  }
  55% {
    content: "Freelancer";
    width: 230px;
  }
  65% {
    width: 0;
  }
  80% {
    width: 0;
  }
  90% {
    content: "Designer";
    width: 200px;
  }
  100% {
    content: "Designer";
    width: 200px;
  }
}
header.header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header.header h1 {
  font-size: 5rem;
}
header.header span {
  position: relative;
  font-size: 3rem;
}
header.header span::after {
  content: "Developer";
  text-align: start;
  display: inline-block;
  border-right: 3px solid white;
  width: 0px;
  overflow: hidden;
  animation: rigthToLeft infinite 6s linear alternate;
  vertical-align: top;
}

nav .navbar-collapse ul li {
  position: relative;
}
nav .navbar-collapse ul li a {
  font-size: 16px;
  font-weight: 400;
  transition: all 0.4s ease;
}
nav .navbar-collapse ul li a::after {
  content: "";
  width: 0;
  transition: all 0.4s ease;
}
nav .navbar-collapse ul li .active {
  position: relative;
  font-weight: 600;
}
nav .navbar-collapse ul li .active::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.4s ease;
}
nav .navbar-collapse ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.8s ease;
}
nav .navbar-collapse ul li:hover::after {
  width: 80%;
}

.progress,
.progress-stacked {
  border-radius: 0;
  height: 0.75rem;
  background-color: #cde1f8;
  margin: 4px 0 12px 0;
}

.sec-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 24px 0;
}
.sec-title h2 {
  font-size: 54px;
}
.sec-title .line {
  width: 40px;
  height: 6px;
}

section.services .col .card {
  box-shadow: 0 12px 12px -10px rgba(0, 0, 0, 0.2);
}
section.services .col .card:hover i {
  border: 10px solid #cde1f8;
  background-color: #0d6efd;
  color: white;
}
section.services .col .card i {
  font-size: 40px;
  width: 120px;
  height: 120px;
  color: black;
  border: 10px solid #0d6efd;
  background-color: transparent;
  transition: all 0.5s;
}

section.counters {
  background-image: linear-gradient(rgba(13, 110, 253, 0.75), rgba(13, 110, 253, 0.75)), url(../assets/images/post-3.jpg);
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.counters .row {
  padding: 6rem;
}
section.counters .row .col .card i {
  font-size: 30px;
  width: 80px;
  height: 80px;
  border: 10px solid white;
  background-color: transparent;
}
section.counters .row .col .card h5 {
  font-size: 32px;
}
section.counters .row .col .card span {
  font-size: 16px;
}

section.portfolio .row .col .port-card {
  box-shadow: 0 12px 12px -10px rgba(0, 0, 0, 0.2);
}
section.portfolio .row .col .port-card .modal {
  background-color: rgba(0, 0, 0, 0.8);
}
section.portfolio .row .col .port-card .modal .modal-body {
  max-width: 800px;
  max-height: 500px;
  padding: 0;
}
section.portfolio .row .col .port-card img.port-img-eff {
  transition: all 0.7s ease-out;
}
section.portfolio .row .col .port-card:hover img.port-img-eff {
  transform: scale(1.2);
}
section.portfolio .row .col .port-btn i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #0d6efd;
}
@media (min-width: 776px) {
  section.portfolio .carousel-control-prev {
    left: -20%;
  }
  section.portfolio .carousel-control-next {
    right: -20%;
  }
}

section.feedbacks {
  background-image: linear-gradient(rgba(13, 110, 253, 0.75), rgba(13, 110, 253, 0.75)), url(../assets/images/overlay-bg.jpg);
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.feedbacks .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

section.blog .blog-card .blog-card-text {
  position: relative;
}
section.blog .blog-card .blog-card-text::after {
  content: "Travel";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d6efd;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 4px;
}
section.blog .blog-card .blog-card-footer a {
  font-size: 18px;
}
section.blog .blog-card .blog-card-footer a img {
  vertical-align: bottom;
  width: 10%;
}

section.contact {
  background-image: linear-gradient(rgba(13, 110, 253, 0.75), rgba(13, 110, 253, 0.75)), url(../assets/images/overlay-bg.jpg);
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.contact h2 {
  position: relative;
  padding-bottom: 12px;
}
section.contact h2::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0d6efd;
  width: 15%;
  left: 0;
  bottom: 0;
}
section.contact .icons i {
  font-size: 15px;
  width: 45px;
  height: 45px;
  color: black;
  border: 4px solid #0d6efd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.5s;
}
section.contact .icons i:hover {
  color: white;
  background-color: #0d6efd;
  border: 4px solid #cde1f8;
}

footer {
  color: white;
  background-color: #0046af;
}/*# sourceMappingURL=main.css.map */